{{ if .Params.event_date }}
<div class="widget event-data-widget">
  <h5 class="widget-title"><span>Termin</span></h5>
  <dl class="event-data mb-0">
    <dt>Datum</dt>
    <dd>{{ time.Format ":date_long" .Params.event_date }}</dd>

    <dt>Uhrzeit</dt>
    <dd>
      {{ time.Format "15:04" .Params.event_date }}
      {{ with .Params.event_end }}
        – {{ time.Format "15:04" . }}
      {{ end }}
       Uhr
    </dd>

    {{ with .Params.event_location }}
      <dt>Ort</dt>
      <dd>{{ . }}</dd>
    {{ end }}
  </dl>
</div>
{{ end }}
