{{/* Video Hero Section - Overrides theme featured-post.html */}}
<section class="section-sm pb-0">
  <div class="container">
    <div class="rounded-lg overflow-hidden">
      <div class="video-hero" style="position:relative;padding-top:56.25%;">
        <iframe
          src="https://iframe.mediadelivery.net/embed/532532/5d11a765-4b4b-4536-adf0-ef2effbfe421?autoplay=true&loop=true&muted=false&preload=true&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true">
        </iframe>
      </div>
    </div>
  </div>
</section>
