{{ define "main" }}
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="title-bordered mb-4 d-flex align-items-center">
          <h1 class="h4">{{ .Title }}</h1>
        </div>
        {{ with .Params.image }}
        <div class="mb-4">
          {{ partial "image.html" (dict "Src" . "Alt" $.Title "Class" "w-100 rounded") }}
        </div>
        {{ end }}
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
